<!-- <section class="bg-cover bg-center bg-no-repeat h-screen relative" style="background-image: url('your-image-url.jpg');">
  <div class="absolute inset-0 bg-black opacity-75">
    <img class="w-full h-full object-cover opacity-50"
      src="../../../assets/image/hero.jpg"
      alt="Image" />
  </div>
  <div class="absolute">
    <img class="lg:mt-0 lg:pt-36 lg:ms-24 x3s:mt-56 x3s:ms-14 x4s:ms-16 x5s:ms-16 x6s:ms-16 x5s:mt-56 md:ms-15 x2s:ms-12 x2s:pt-56 sm:pt-56 sm:w-96 sm:ms-44 xs1:w-64 xs1:pt-24"
      src="../../../assets/image/blackandwhietLogo/black.png" alt srcset>
    <span
      class="lg:ms-24 x3s:ms-20 x4s:ms-24 x5s:ms-24 x6s:ms-24 sm:ms-48 sm:pt-56 x2s:ms-16 sm:text-3xl md:ps-16 md:text-2xl xs:ms-10 text-white xs1:text-sm  xs1:ps-5 xs1:text-md font-extralight">"We
      Build Your Dreams"</span>
    <br>
    <span (click)="playButton()">
      <img
        class="lg:ms-60 x3s:ms-36 x3s:mt-5 x4s:ms-44 x5s:ms-40 x6s:ms-44 sm:ms-80 x2s:ms-36 xs:w-10 xs:ms-24 xs:mt-5 xs1:w-8 xs1:ms-20 xs1:mt-4"
        src="../../../assets/image/buttons/plya button.png" alt srcset>
    </span>

  </div>


</section> -->

<!-- <div class="absolute inset-0 bg-black opacity-75">
    <img class="w-full h-full object-cover opacity-50"
      src="../../../assets/image/hero.jpg"
      alt="Image" />
  </div> -->

<!-- <div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push">

  <ul class="uk-slideshow-items">
    <li>
      <img class="opacity-50" src="../../../assets/image/hero.jpg" alt="" uk-cover>
      <div class="uk-position-center uk-position-small uk-text-center">
        <div class="">
          <div class="flex justify-center">
            <img class="md:w-96 xs:w-56" src="../../../assets/image/blackandwhietLogo/black.png" alt srcset>
          </div>
          <div class="flex justify-center">
            <p class="text-xl font-new1 font-extralight">"We Build Your Dreams"</p>
          </div>
          <br>
          <span class="flex justify-center" (click)="playButton()">
            <img class="w-8 flex justify-center " src="../../../assets/image/buttons/plya button.png" alt srcset>
          </span>
        </div>
      </div>
    </li>
    <li>
      <img class="opacity-50" src="../../../assets/image/hero2.jpg" alt="" uk-cover>
    </li>
    <li>
      <img class="opacity-50" src="../../../assets/image/hero3.jpg" alt="" uk-cover>
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
    uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
    uk-slideshow-item="next"></a>

</div> -->


<div id="home" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
  uk-slideshow="animation: push; autoplay: true; autoplay-interval: 3000">
  <ul class="uk-slideshow-items">
    <li>
      <img class="opacity-50" src="{{this.allImages[0].img}}" alt="" uk-cover>
      <div class="uk-position-center uk-position-small uk-text-center">
        <!-- Your content for the first slide -->
        <div class="">
          <div class="flex justify-center">
            <img class="md:w-96 xs:w-56" src="../../../assets/image/blackandwhietLogo/black.png" alt srcset>
          </div>
          <div class="flex justify-center">
            <p class="text-xl font-new1 font-extralight">"We Build Your Dreams"</p>
          </div>
          <br>
          <span class="flex justify-center">
         <img (click)="playButton()" class="w-8 flex justify-center " src="../../../assets/image/buttons/plya button.png" altsrcset>
        </span>
        </div>
      </div>
    </li>
    <li>
      <img class="opacity-50" src="{{this.allImages[1].img}}" alt="" uk-cover>
      <!-- Content for the second slide -->
    </li>
    <li>
      <img class="opacity-50" src="{{this.allImages[2].img}}" alt="" uk-cover>
      <!-- Content for the third slide -->
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
    uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
    uk-slideshow-item="next"></a>
</div>
