<div id="home" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1"
  uk-slideshow="animation: push; autoplay: true; autoplay-interval: 3000">
  <ul class="uk-slideshow-items">
    <li>
      <img class="opacity-50" src="{{this.allImages[0].img}}" alt="" uk-cover>
      <div class="uk-position-center uk-position-small uk-text-center">
        <!-- Your content for the first slide -->
        <div class="">
          <div class="flex justify-center">
            <img class="md:w-96 xs:w-56" src="../../../assets/image/blackandwhietLogo/black.png" alt srcset>
          </div>
          <div class="flex justify-center">
            <p class="text-xl font-new1 font-extralight">"we build your dream”</p>
          </div>
          <br>
          <span class="flex justify-center">
            <img (click)="playButton()" class="w-8 flex justify-center "
              src="../../../assets/image/buttons/plya button.png" altsrcset>
          </span>
        </div>
      </div>
    </li>
    <li class="flex justify-center items-center">
      <img class="opacity-50" src="{{this.allImages[1].img}}" alt="" uk-cover>
      <!-- Content for the second slide -->
      <div class="text-center z-10">
        <p class="text-4xl font-new1 font-bold">"One stop Solution for all your HOME needs"</p>
      </div>
    </li>
    
    <li>
      <img class="opacity-50" src="{{this.allImages[2].img}}" alt="" uk-cover>
      <!-- Content for the third slide -->
    </li>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href uk-slidenav-previous
    uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href uk-slidenav-next
    uk-slideshow-item="next"></a>
</div>