<div class="flex flex-no-wrap">
  <app-side-bar class="fixed"></app-side-bar>
  <!-- Sidebar starts -->
  <!-- Remove class [ hidden ] and replace [ sm:flex ] with [ flex ] -->
  <!-- Sidebar ends -->

  <!-- Remove class [ h-64 ] when adding a card block -->


  <div class="block md:ms-64 container mx-auto py-10  md:w-4/5 w-11/12 px-6">
    <div class="w-full h-full rounded">
      <!-- <app-hero-img-section></app-hero-img-section> -->
      <app-hero-img-section></app-hero-img-section>
      <app-commertial-projects></app-commertial-projects>
      <app-residential-projects></app-residential-projects>
    </div>
  </div>
</div>
