<!-- <div>
  <form class="w-full" [formGroup]="formGroup" (ngSubmit)="submitForm()">
    <div class="flex justify-between">
      <input type="file" [accept]="fileAcceptTypes" formControlName="file" (change)="onFileSelected($event)"
        class="dark:placeholder:text-white w-2/2 py-2 border border-gray-300 rounded-lg px-4" placeholder="5 Month" multiple />

      <button type="submit" class="ms-5 bg-black text-white shadow-xl rounded-xl items-center px-3 font-bold uppercase hover:text-green-700">
        Submit
      </button>
    </div>
  </form>
</div> -->
