<!-- <section class="bg-blue-300">
  <div>
    <h1 class="text-3xl text-white md:text-center pt-7 font-extralight font-arial md:mt-0 ms-[20px]">How It Works</h1>
  </div>

  <div
    class="flex flex-col md:flex-row w-full md:justify-center ml-10 md:ml-[-35px] md:ps-32 ps-0 justify-start ms-2 items-start p-10 bg-red-300 text-black">

    <div class="flex md:flex-col gap-7 md:gap-3 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/1.png" alt="Image 1">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">..................</div>
      </div>
      <div class="">
        <p class="text-black  font-bold w-48 md:mt-0 mt-[-35px] font-arial">Meet a Designer</p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/2.png" alt="Image 2">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">..................</div>
      </div>
      <div class="">
        <p class="text-black font-bold md:w-48 w-48 md:mt-0 mt-[-5px] font-arial">(5% Payment)
          <br>
          <span class="font-extralight">
            Design Innovation
          </span>
        </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/3.png" alt="Image 2">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">..................</div>
      </div>
      <div class="">
        <p class="text-black  font-bold md:w-48 w-48 md:mt-0 mt-[-5px] font-arial">(50% Payment)
          <br>
          <span class="font-extralight">
            Execution Begins
          </span>
        </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/4.png" alt="Image 2">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">..................</div>
      </div>
      <div class="">
        <p class="text-black  font-bold md:w-48 w-48 md:mt-0 mt-[-5px] font-arial">(90% Payment)
          <br>
          <span class="font-extralight">
            Finel Installations
          </span>
        </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0  items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20 rounded-full" src="../../../assets/image/how it works/5.png" alt="Image 2">
          </div>
        </div>
      </div>
      <div class="">
        <p class="text-black font-bold md:w-48 w-48 md:mt-0 mt-[-5px] font-arial">(100% Payment)
          <br>
          <span class="font-extralight">
            After Hand over
          </span>
        </p>
      </div>
    </div>

  </div>

</section> -->




<section class="p-4 bg-zinc-100 w-full"
  style="background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.9)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrhEx0XGc1Ds6txqvBHg2fBnequki_1tniJa0HBu4BoQDkcukR6oc3rqNb3A2C_ENwCwY&usqp=CAU'); background-size: cover; background-position: center; background-attachment: fixed;">

  <div>
    <h1 class="text-3xl text-black md:text-center pt-7 font-extralight font-arial md:mt-0 ms-[20px]">How It Works</h1>
  </div>

  <div
    class="mx-auto max-w-7xl flex flex-col md:flex-row w-full  md:justify-center md:items-center ps-10 pt-10 md:ps-[80px] md:mt-10 justify-start items-start text-black">

    <div class="flex md:flex-col gap-7 md:gap-3 md:mt-0 md:mb-6 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/1.png" alt="Image 1">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black md:mt-0  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">...............</div>
      </div>
      <div class="">
        <p class="text-black  font-bold w-48 md:mt-0 mt-[-5px] font-arial">Meet our Designers & Project Consultant </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black ">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/2.png" alt="Image 2">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black md:mb-0  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">...............</div>
      </div>
      <div class="">
        <p class="text-black font-bold md:w-48 w-48 md:mt-0 md:mb-12 mt-[-5px] font-arial"> Design Innovation
          <br>
          <span class="font-extralight">
           
          </span>
        </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/3.png" alt="Image 2">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">...............</div>
      </div>
      <div class="">
        <p class="text-black  font-bold md:w-48 w-48 md:mt-0 md:mb-6 mt-[-5px] font-arial">Production & Execution 50% </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0 items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20" src="../../../assets/image/how it works/4.png" alt="Image 2">
          </div>
        </div>
        <div class="rotate-90 md:block hidden text-black  md:rotate-180">......................</div>
        <div class="rotate-90 md:hidden block mt-4 text-black  md:rotate-180">...............</div>
      </div>
      <div class="">
        <p class="text-black  font-bold md:w-48 w-48 md:mt-0 mt-[-5px] md:mb-6 font-arial">Final Installations 90%  Finel Installations
        </p>
      </div>
    </div>

    <div class="flex md:flex-col gap-7 md:gap-3 mt-5 md:mt-0  items-center">
      <div class="flex w-full md:gap-0 flex-col md:flex-row items-center">
        <div class="p-4 text-black rounded-full border border-black">
          <div>
            <img class="w-20 h-20 rounded-full" src="../../../assets/image/how it works/5.png" alt="Image 2">
          </div>
        </div>
      </div>
      <div class="">
        <p class="text-black font-bold md:w-48 w-48 md:mt-0 mt-[-5px] md:mb-6 font-arial">Completion & hand over 100% After Hand over
        </p>
      </div>
    </div>

  </div>

</section>