<section class="mx-auto max-w-7xl md:mt-24 mb-36" id="contacts">
  <div class="md:flex w-full md:justify-center p-5 md:gap-5">


    <div
    class=" bg-black w-full md:w-72 h-80 p-4 mb-2 hover:bg-white group rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">
    <div class="text-center">
      <img class="h-24 mx-auto mt-4"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/50/TK_email_icon.svg/2048px-TK_email_icon.svg.png"
        alt="" srcset="">
    </div>
    <div class="text-center md:text-left mt-4">
      <h1 class="font-bold text-lg text-center group-hover:text-black text-white">Our Email</h1>
      <p class="text-gray-400 text-sm text-center">blackandblackstudio.gmail.com</p>
    </div>
  </div>
    <div
      class="bg-black w-full md:w-72 h-80 p-4 mb-2 hover:bg-white group rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">
      <div class="text-center">
        <img class="h-24 mx-auto mt-4" src="../../../assets/image/map.png" alt="" srcset="">
      </div>
      <div class="text-center md:text-left mt-4">
        <h1 class="font-bold text-lg text-center group-hover:text-black text-white">Our Office</h1>
        <div class="flex justify-center">

          <a href="https://maps.app.goo.gl/nKTzfJWiSw52XeWU9" class="text-gray-400 text-sm text-center">
            <b>BLACK AND black STUDIO</b> <br>
            RAMDEV GARDEN NO 156,157
            1ST CROSS ROAD 1ST STAGE, HBR LAYOUT BANGALORE-560084
            GSTIN/UIN: 29AAAFZ6284B1ZZ
            State Name: Karnataka, Code: 29
          </a>
        </div>
      </div>
    </div>

  

    <div
      class="bg-black w-full md:w-72 h-80 p-4 hover:bg-white group rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">
      <div class="text-center">
        <img class="h-24 mx-auto mt-4"
          src="../../../assets/image/userVontact.png" alt=""
          srcset="">
      </div>
      <div class="text-center md:text-left mt-4">
        <h1 class="font-bold text-lg text-center group-hover:text-black text-white">Our Phone lines</h1>
        <p class="text-gray-400 text-sm text-center">+91 8078 968 797</p>
      </div>
    </div>
  </div>

  <!-- <div>
    <div class="pt-24 ">
      <div>
        <span class="text-black text-2xl flex justify-center">We Build Your Dreams</span>
      </div>
    </div>
  </div>

  <div class="flex items-center mt-10 justify-center">
    <button
      class="rounded-full bg-black ps-5 pe-5 pt-2 pb-2 text-black text-xl font-bold hover:bg-green-600 hover:text-black font-new1">WhatsApp</button>
  </div> -->

</section>