


<app-nav-bar></app-nav-bar>

<div class="mx-auto max-w-7xl 2xl:container 2xl:mx-auto md:py-12 lg:px-24 md:px-6 py-9 px-4">
  <div class="text-center pt-36">
    <h2
      class="font-semibold lg:text-4xl text-3xl lg:leading-9 md:leading-7 leading-9 text-gray-800 md:w-full w-9/12 mx-auto">
      {{name}} Designs</h2>
    <p class="font-normal text-base leading-6 text-gray-600 mt-4 lg:w-5/12 md:w-9/12 mx-auto">Follow us on instagram
      <span class="underline cursor-pointer">followuspleaseee</span> and tag us to get featured on our timeline</p>
  </div>
  <div class="grid lg:grid-cols-4 sm:grid-cols-2 grid-cols-1 lg:grap-8 md:gap-6 gap-4 mt-10">
    <div class="relative group" *ngFor="let item of images">
      <img src="{{item}}" alt="A picture of a sitting dog" class="lg:block hidden w-full" />
      <div
        class="flex justify-center items-center opacity-0 bg-gradient-to-t from-gray-800 via-gray-800 to-opacity-30 group-hover:opacity-50 absolute top-0 left-0 h-full w-full">
      </div>
      <div class="absolute top-0 left-0 w-full h-full flex justify-center items-center opacity-0 hover:opacity-100">
        <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
            d="M42.6665 10.6665H21.3332C15.4421 10.6665 10.6665 15.4421 10.6665 21.3332V42.6665C10.6665 48.5575 15.4421 53.3332 21.3332 53.3332H42.6665C48.5575 53.3332 53.3332 48.5575 53.3332 42.6665V21.3332C53.3332 15.4421 48.5575 10.6665 42.6665 10.6665Z"
            stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          <path
            d="M32 40C36.4183 40 40 36.4183 40 32C40 27.5817 36.4183 24 32 24C27.5817 24 24 27.5817 24 32C24 36.4183 27.5817 40 32 40Z"
            stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
          <path d="M44 20V20.001" stroke="white" stroke-width="2.5" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </div>
    </div>

  </div>
</div>

<app-footer2></app-footer2>


