<app-nav-bar></app-nav-bar>
<div class="">

    <app-hero-section></app-hero-section>
    <app-we-have></app-we-have>

    <app-product-list></app-product-list>
    <app-about-us></app-about-us>
    <app-how-its-work></app-how-its-work>
    
    <app-what-we-offer></app-what-we-offer>
    <!-- <app-partners-section></app-partners-section> -->
    <app-partner-section></app-partner-section>
    <app-count-items></app-count-items>
    <app-clint-response></app-clint-response>
    <app-contact-us></app-contact-us>
    <app-footer></app-footer>

</div>