<app-nav-bar></app-nav-bar>
<div class="">
    <app-hero-section></app-hero-section>
    <!-- <app-popup-button-for-contact-form></app-popup-button-for-contact-form> -->
    <app-we-have></app-we-have>
    <!-- <app-contact-form></app-contact-form> -->
    <app-product-list></app-product-list>
    <app-about-us></app-about-us>
    <app-how-its-work></app-how-its-work>

    <app-what-we-offer></app-what-we-offer>
    <app-partner-section></app-partner-section>
    <app-count-items></app-count-items>
    <app-clint-response></app-clint-response>
    <app-partners-section></app-partners-section>
    <!-- <app-contact-us></app-contact-us> -->
    <!-- <app-footer></app-footer> -->
    <app-footer2></app-footer2>
    <!-- <app-all-projects></app-all-projects> -->

</div>