<section class="mx-auto max-w-7xl" id="projects">
  <div class="2xl:container 2xl:mx-auto">
    <div class="py-6 lg:px-20 md:px-6 px-4">
      <h1 class="text-3xl text-white font-extralight font-arial">Our Works</h1>
      <div
        class="grid lg:grid-cols-3 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 lg:gap-y-12 lg:gap-x-8 sm:gap-y-10 sm:gap-x-6 gap-y-6 lg:mt-12 mt-10">
        <!-- ... (your existing code for product items) ... -->
        <div>
          <div class="relative">
            <div class="relative group">
              <img class="w-full group-hover:opacity-25" src="../../../assets/image/residential/download (2).jpg"
                alt="A girl Posing Image" />
              <div class="absolute bottom-0 p-8 w-full opacity-0 group-hover:opacity-100">
                <button
                  class="bg-transparent font-medium text-base leading-4 border-2 border-white py-3 w-full mt-2 text-white"
                  routerLink="/residentialProjects">
                  Quick View
                </button>
              </div>
            </div>
            <p class="font-normal font-arial leading-5 text-white md:mt-6 mt-4">
              RESIDENTIAL
            </p>
            <p class="text-white leading-5 mt-4 font-extralight font-new1 ms-1">Create your own ambiance with our
              Design Experts </p>
          </div>

        </div>
        <div>
          <div class="relative">
            <div class="relative group">
              <img class="w-full hover:opacity-25" src="../../../assets/image/comertial/C1.jpg"
                alt="A girl Posing Image" />
              <div class="absolute bottom-0 p-8 w-full opacity-0 group-hover:opacity-100">
                <button routerLink="/commertialProjects"
                  class="bg-transparent font-medium text-base leading-4 border-2 border-white py-3 w-full mt-2 text-white">
                  Quick View
                </button>
              </div>
            </div>
            <p class="font-normal font-arial leading-5 text-white md:mt-6 mt-4">
              COMMERCIAL
            </p>
            <p class="text-white leading-5 mt-4 font-extralight ms-1 font-arial">Transforming your
              home into a personalized oasis of comfort and style</p>
          </div>
        </div>

        <div>
          <div class="relative">
            <div class="relative group">
              <img class="w-full hover:opacity-25" src="../../../assets/image/villas/images (6).jpeg"
                alt="A girl Posing Image" />
              <div class="absolute bottom-0 p-8 w-full opacity-0 group-hover:opacity-100">
                <button
                  class="bg-transparent font-medium text-base leading-4 border-2 border-white py-3 w-full mt-2 text-white"
                  routerLink="/villaslProjects">
                  Quick View
                </button>
              </div>
            </div>
            <p class="font-normal font-arial leading-5 text-white md:mt-6 mt-4">
              RENOVATION </p>
            <p class="text-white leading-5 mt-4 ms-1 font-arial font-extralight">Let your walls welcome you with the
              warmth & elegance </p>
          </div>

        </div>
      </div>

    </div>
  </div>

</section>