
<section class="p-16 bg-zinc-100 w-full">
<!-- <section class="p-16 bg-slate-900 w-full"> -->
  <div>
    <p class="mx-auto max-w-7xl flex justify-center text-black text-3xl font-extralight">Our other services</p>
  </div><br>
  <div class="mx-auto max-w-7xl md:flex  md:justify-center md:text-center md:items-center md:gap-24 sm:justify-center sm:items-center">

    <!-- Free Shipping Grid Card -->
    <div class="flex justify-center zoom-card">
      <div>
        <img class="w-24 pt-7" src="../../../assets/image/furniture/furniture.png" alt="" srcset="">
        <p class="leading-5 font-extralight text-black mt-5">furniture.com</p>
      </div>
    </div>

    <!-- Support Grid Card -->

    <div class="flex justify-center zoom-card">
      <div>
        <img class="w-24 xs:pt-7 xs:ms-6" src="../../../assets/image/furniture/build.png" alt="" srcset="">
        <p class="leading-5 font-extralight text-black mt-5">kenzo build & design</p>
      </div>
    </div>

    <!-- Money-Back Guarantee card -->

    <div class="flex justify-center zoom-card">
      <div>
        <img class="w-24 xs:pt-7" src="../../../assets/image/furniture/kenzo build copy.png" alt="" srcset="">
        <p class="leading-5 font-extralight text-black mt-5">kenzo reality</p>
      </div>
    </div>
  </div>
</section>

