<!-- <section id="counter">
  <div class=" pt-56 lg:pt-24 pb-4">
    <div class="container mx-auto">
      <div class="grid grid-cols-1 xs1:grid-cols-2 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <div class="text-center animate__animated animate__fadeInUp" style="animation-delay: 200ms;">
          <div class="counters-item">
            <i class="tf-ion-archive text-5xl text-black"></i>
            <span class="jsCounter text-3xl text-black block" data-count="565">0</span>
            <h3 class="text-xl text-black font-bold">Happy Clients</h3>
          </div>
        </div>

        <div class="text-center animate__animated animate__fadeInUp" style="animation-delay: 400ms;">
          <div class="counters-item">
            <i class="tf-ion-thumbsup text-5xl text-black"></i>
            <span class="jsCounter text-3xl text-black block" data-count="95">0</span>
            <h3 class="text-xl text-black font-bold">Cities</h3>
          </div>
        </div>

        <div class="text-center animate__animated animate__fadeInUp">
          <div class="counters-item">
            <i class="tf-ion-android-happy text-5xl text-black"></i>
            <span class="jsCounter text-3xl text-black block" data-count="320">0</span>
            <h3 class="text-xl text-black font-bold">Projects Completed</h3>
          </div>
        </div>

        <div class="text-center animate__animated animate__fadeInUp" style="animation-delay: 600ms;">
          <div class="counters-item kill-margin-bottom">
            <i class="tf-ion-coffee text-5xl text-black"></i>
            <span class="jsCounter text-3xl text-black block" data-count="2500">0</span>
            <h3 class="text-xl text-black font-bold">Cups of Coffee</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->





<!--

<section class="mt-36">
  <div class="w-full gap-8 sm:flex sm:justify-center sm:items-center p-4 sm:ps-4 sm:pe-4 cursor-pointer">
    <div class="flex flex-col items-center mb-8 sm:mb-0 ">
      <div class="mb-2">
        <span class="text-2xl sm:text-8xl font-bold text-black" [textContent]="currentValue">{{ currentValue }}</span>
      </div>
      <span class="text-black">happy clients</span>
    </div>

    <div class="flex flex-col items-center mb-8 sm:mb-0 ">
      <div class="mb-2">
        <span class="text-2xl sm:text-8xl font-bold text-black" [textContent]="currentValue">{{ currentValue }}</span>
      </div>
      <span class="text-black">Cities</span>
    </div>

    <div class="flex flex-col items-center mb-8 sm:mb-0 ">
      <div class="mb-2">
        <span class="text-2xl sm:text-8xl font-bold text-black" [textContent]="currentValue">{{ currentValue }}</span>
      </div>
      <span class="text-black">Projects Completed</span>
    </div>

    <div class="flex flex-col items-center mb-8 sm:mb-0 ">
      <div class="mb-2">
        <span class="text-2xl sm:text-8xl font-bold text-black" [textContent]="currentValue">{{ currentValue }}</span>
      </div>
      <span class="text-black">Cups of Coffee</span>
    </div>
  </div>
</section> -->

<!-- 
<section class="flex items-center justify-center mt-16 md:mt-4 lg:mt-12 w-full h-96 bg-slate-900">
  <div class="mx-auto max-w-7xl w-full gap-28 sm:flex sm:justify-center sm:items-center p-4 sm:ps-4 sm:pe-4 cursor-pointer">
    <div *ngFor="let endValue of endValues; let i = index"
      class="flex flex-col items-center mb-8 sm:mb-0 sm:flex-col-2">
      <div class="mb-2">
        <span class="text-2xl sm:text-6xl font-bold text-black" [textContent]="currentValue">{{ endValue }}</span>
      </div>
      <span class="text-black font-semibold">{{ groupLabels[i] | uppercase }}</span>
    </div>
  </div>

</section> -->




<section class=" bg-zinc-100 py-10 leading-6 text-blue-900 sm:py-16 lg:py-24">
  <div class="mx-auto max-w-5xl px-4 sm:px-6 lg:px-8">
    <div class="mx-auto max-w-xl text-center">
      <h2 class="text-3xl font-extralight font-arial text-black leading-9 sm:text-4xl sm:leading-tight">Impressive Results in 2 Years</h2>
    </div>

    <div class="mt-8 grid grid-cols-1 gap-6 divide-black sm:grid-cols-2 md:gap-8 lg:mt-16 lg:grid-cols-4 lg:divide-x">
      <div class="border-b border-black py-10 px-6 lg:border-b-0">
        <div class="flex items-center">
          <h3 class="relative text-black ml-2 inline-block text-4xl font-bold leading-none">
            <span class="absolute -top-4 h-2 w-full bg-yellow-500 text-black"></span>
            328
          </h3>
          <span class="ml-3 text-black font-medium capitalize">Great Achievements</span>
        </div>
      </div>

      <div class="border-b border-black py-10 px-6 lg:border-b-0">
        <div class="flex items-center">
          <h3 class="relative text-black ml-2 inline-block text-4xl font-bold leading-none">
            <span class="absolute -top-4 h-2 w-full bg-yellow-500 text-black"></span>
            16
          </h3>
          <span class="ml-3 text-black font-medium capitalize">Graduations sponsored</span>
        </div>
      </div>

      <div class="border-b border-black py-10 px-6 lg:border-b-0">
        <div class="flex items-center">
          <h3 class="relative text-black ml-2 inline-block text-4xl font-bold leading-none">
            <span class="absolute  -top-4 h-2 w-full bg-yellow-500 text-black"></span>
            41+
          </h3>
          <span class="ml-3 text-black font-medium capitalize">jobs created</span>
        </div>
      </div>

      <div class="border-b border-black py-10 px-6 lg:border-b-0">
        <div class="flex items-center">
          <h3 class="relative text-black ml-2 inline-block text-4xl font-bold leading-none">
            <span class="absolute -top-4 h-2 w-full bg-yellow-500 text-black"></span>
            99%
          </h3>
          <span class="ml-3 text-black font-medium capitalize">Happy Customers</span>
        </div>
      </div>
    </div>
  </div>
</section>