<!-- <section class="" class="contact-us py-12 pt-5 p-10 w-full bg-slate-700">
  <div class="container mx-auto">
    <div class="">
      <h2 class="" class="text-3xl text-white w-36 h-40 pt-6 font-extralight font-arial">Contact Us</h2>
    </div>
  </div>
  <div class="container mx-auto mt-8 ">
    <div class="md:flex md:items-center">

      <div class="contact-info md:w-1/2 md:pr-8">
        <p class="text-gray-300 ms-2 font-extralight font-arial">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Ipsam, vero, provident, eum eligendi
          blanditiis ex explicabo vitae nostrum facilis asperiores
          dolorem illo officiis ratione vel fugiat dicta
          laboriosam labore adipisci.
        </p>
        <ul class="mt-4">
          <li class="flex items-center text-white w-36 h-40 mb-2">
            <i class="tf-map-pin text-blue-600 font-extralight font-arial mr-2"></i>
            <span>No.4 3rd A main Sadanandanagar NGEF Layout Bangalore 560038</span>
          </li>
          <li class="flex items-center text-white w-36 h-40 mb-2">
            <i class="tf-ion-ios-telephone-outline text-blue-600 font-extralight font-arial mr-2"></i>
            <span>Phone: +91 9620 837 274, +91 9380 609 620</span>
          </li>
          <li class="flex items-center text-white w-36 h-40 mb-2">
            <i class="tf-ion-iphone text-blue-600 font-extralight font-arial mr-2"></i>
            <span>Fax: +880-31-000-000</span>
          </li>
          <li class="flex items-center text-white w-36 h-40 mb-2">
            <i class="tf-ion-ios-email-outline text-blue-600 font-extralight font-arial mr-2"></i>
            <span>Email: hello@example.com</span>
          </li>
        </ul>
      </div>

      <div class="contact-form md:w-1/2 mt-4">
        <form class="-form" method="post" action="sendmail.php" role="form">
          <div class="mb-4">
            <input type="text" placeholder="Your Name"
              class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-blue-600"
              name="name" class="">
          </div>
          <div class="mb-4">
            <input type="email" placeholder="Your Email"
              class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-blue-600"
              name="email" class="">
          </div>
          <div class="mb-4">
            <input type="text" placeholder="Subject"
              class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-blue-600"
              name="subject" class="">
          </div>
          <div class="mb-6">
            <textarea rows="6" placeholder="Message"
              class="w-full py-2 px-3 border border-gray-300 rounded-md focus:outline-none focus:border-blue-600"
              name="message" class=""></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="-submit"
              class="px-6 py-2 bg-white w-36 h-40 text-black font-semibold rounded-full hover:bg-yellow-500 focus:outline-none focus:bg-blue-700">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section> -->
