<section class="" id="service">
  <div class="mx-auto max-w-7xl py-6 lg:px-20 md:px-6">
    <h1 id="services" class="text-3xl sm font-extralight font-arial md:text-2xl text-white ps-4 font-arial">What We
      Offer</h1>

    <div class="hidden lg:flex justify-center space-x-4 pt-10 pb-10">
      <!-- Card 1 -->
      <div
        class="bg-zinc-100 w-full md:w-96 h-96 p-4 mb-2 hover:bg-white rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">
        <h2 class="text-lg text-black font-light font-arial font-arial">Our services</h2>
        <ul class="list-disc ml-6 my-4">
          <li class="text-sm font-light font-arial  text-black mb-2">Modular Furnitures </li>
          <li class="text-sm font-light font-arial text-black mb-2">Modular Kitchen </li>
          <li class="text-sm font-light font-arial text-black mb-2">Wardrobes</li>
          <li class="text-sm font-light font-arial text-black mb-2">False ceiling </li>
          <li class="text-sm font-light font-arial text-black mb-2">Civil Construction </li>
          <li class="text-sm font-light font-arial text-black mb-2">Electrical works </li>
          <li class="text-sm font-light font-arial text-black mb-2">Plumbing works </li>
          <li class="text-sm font-light font-arial text-black mb-2">Home Decor</li>
          <li class="text-sm font-light font-arial text-black mb-2">Curtains & blinds </li>
          <li class="text-sm font-light font-arial text-black mb-2">Flooring</li>
          <li class="text-sm font-light font-arial text-black mb-2">wallpapers</li>
        </ul>

      </div>

      <!-- Card 2 -->
      <div
        class="bg-zinc-100 w-full md:w-96 h-96 p-4 mb-2 hover:bg-white rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">

        <h2 class="text-lg text-black font-light font-arial">Warranty</h2>
        <ul class="list-disc ml-6 my-4">
          <li class="text-sm font-light font-arial text-black mb-2">FLAT 5-year warrant </li>
          <li class="text-sm font-light font-arial text-black mb-2">Guarantee as per the Raw material selected ( terms &
            conditions apply ) </li>
          <li class="text-sm font-light font-arial text-black mb-2">Stay worry free with our warranty policy on modular
            products </li>
          <li class="text-sm font-light font-arial text-black mb-2">6 months free service for any repair & alteration
          </li>
          <li class="text-sm font-light font-arial text-black mb-2">1 year Warranty on on-site services such as
            painting, electrical, plumbing
            and more </li>
        </ul>
      </div>

      <!-- Card 3 -->
      <div
        class="bg-zinc-100 w-full md:w-96 h-96 p-4 mb-2 hover:bg-white rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">
        <h2 class="text-lg text-black font-light font-arial">Technology &
          science</h2>
        <ul class="list-disc ml-6 my-4">
          <li class="text-sm font-light font-arial text-black mb-2">AquaBloc® Technology
            -
            Hermetically sealed edges that ensure no moisture enters
            the panels of your modular cabinets.</li>
          <li class="text-sm font-light font-arial text-black mb-2">AntiBubble®
            Technology -
            Super seamless panels without air bubbles for your
            modular cabinets.
          </li>
          <li class="text-sm font-light font-arial text-black mb-2"> DuraBuild™
            Technology -
            Robust structure for modular cabinets, making them
            strong and long-lasting.
          </li>

        </ul>
      </div>

      <div
        class="bg-zinc-100 w-full md:w-96 h-96 p-4 mb-2 hover:bg-white rounded-md shadow-md hover:shadow-lg transition-transform transform hover:-translate-y-2">
        <h2 class="text-lg text-black font-light font-arial">Price benefits</h2>
        <ul class="list-disc ml-6 my-4">
          <li class="text-sm font-light font-arial text-black mb-2 ">Price-match
            guarantee³ -
            Price match to a valid quote in comparison with a
            branded player and for exact scope.
          </li>
          <li class="text-sm font-light font-arial text-black mb-2 ">Flexible payment
            options -
            EMI solutions and payment schemes from leading financial
            partners.
          </li>
          <li class="text-sm font-light font-arial text-black mb-2 "> No hidden costs -
            Transparent costing without last-minute additions.</li>
        </ul>
      </div>
    </div>

    <!-- mobile components_______________________________________ -->

    <div class="accordion-group bg-black lg:hidden pt-7">
      <div class="accordion text-slate-100">
        <input class=" toggle" id="accordion-color-danger-1" type="checkbox" />
        <label class="title" for="accordion-color-danger-1">
          <p class="text-slate-100 font-light font-arial">Our services</p>
        </label>
        <div class="content">
          <div class="min-h-0">
            <ul class="list-disc ml-6 my-4">
              <li class="text-sm font-light font-arial  text-black mb-2">Modular Furnitures </li>
              <li class="text-sm font-light font-arial text-black mb-2">Modular Kitchen </li>
              <li class="text-sm font-light font-arial text-black mb-2">Wardrobes</li>
              <li class="text-sm font-light font-arial text-black mb-2">False ceiling </li>
              <li class="text-sm font-light font-arial text-black mb-2">Civil Construction </li>
              <li class="text-sm font-light font-arial text-black mb-2">Electrical works </li>
              <li class="text-sm font-light font-arial text-black mb-2">Plumbing works </li>
              <li class="text-sm font-light font-arial text-black mb-2">Home Decor</li>
              <li class="text-sm font-light font-arial text-black mb-2">Curtains & blinds </li>
              <li class="text-sm font-light font-arial text-black mb-2">Flooring</li>
              <li class="text-sm font-light font-arial text-black mb-2">wallpapers</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion text-slate-100">
        <input class="toggle" id="accordion-color-danger-2" type="checkbox" />
        <label class="title" for="accordion-color-danger-2">
          <p class="text-slate-100 font-light font-arial">Warranty</p>
        </label>
        <div class="content">
          <div class="min-h-0">
            <ul class="list-disc ml-6 my-4">
              <li class="text-sm font-light font-arial text-black mb-2">FLAT 5-year warrant </li>
              <li class="text-sm font-light font-arial text-black mb-2">Guarantee as per the Raw material selected (
                terms &
                conditions apply ) </li>
              <li class="text-sm font-light font-arial text-black mb-2">Stay worry free with our warranty policy on
                modular
                products </li>
              <li class="text-sm font-light font-arial text-black mb-2">6 months free service for any repair &
                alteration
              </li>
              <li class="text-sm font-light font-arial text-black mb-2">1 year Warranty on on-site services such as
                painting, electrical, plumbing
                and more </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion text-slate-100">
        <input class="toggle" id="accordion-color-danger-3" type="checkbox" />
        <label class="title" for="accordion-color-danger-3">
          <p class="text-slate-100 font-light font-arial">Technology & science</p>
        </label>
        <div class="content">
          <div class="min-h-0">
            <ul class="list-disc ml-6 my-4">
              <li class="text-sm font-light font-arial text-slate-100 mb-2">AquaBloc®
                Technology
                -
                Hermetically sealed edges that ensure no
                moisture enters
                the panels of your modular cabinets.</li>
              <li class="text-sm font-light font-arial text-slate-100 mb-2">AntiBubble®
                Technology -
                Super seamless panels without air bubbles for
                your
                modular cabinets.
              </li>
              <li class="text-sm font-light font-arial text-slate-100 mb-2"> DuraBuild™
                Technology -
                Robust structure for modular cabinets, making
                them
                strong and long-lasting.
              </li>
              <li class="text-sm font-light font-arial text-slate-100 mb-2">Design Science -
                Modular
                kitchens with improved accessibility that makes
                daily
                tasks more efficient and reduces stress on the
                body.
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="accordion text-slate-100">
        <input class="toggle" id="accordion-color-danger-4" type="checkbox" />
        <label class="title" for="accordion-color-danger-4">
          <p class="text-slate-100 font-light font-arial">Price benefits</p>
        </label>
        <div class="content">
          <div class="min-h-0">
            <ul class="list-disc ml-6 my-4">
              <li class="text-sm font-light font-arial text-slate-100 mb-2 ">Price-match
                guarantee³ -
                Price match to a valid quote in comparison with
                a
                branded player and for exact scope.
              </li>
              <li class="text-sm font-light font-arial text-slate-100 mb-2 ">Flexible
                payment
                options -
                EMI solutions and payment schemes from leading
                financial
                partners.
              </li>
              <li class="text-sm font-light font-arial text-slate-100 mb-2 "> No hidden
                costs -
                Transparent costing without last-minute
                additions.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>

</section>